html { 
    background-color: white;
    width:100%; 
    height:100%; 
    background:url(/assets/img/avatar.png) center center no-repeat;
 }

 img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -250px; /* Half the height */
    margin-left: -250px; /* Half the width */
    
 }

